[Unit]
Description=Daily Epoch Rush online database backup

[Timer]
OnCalendar=*-*-* 04:20:00
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target
